contourpy==1.2.1
cycler==0.12.1
fonttools==4.52.1
gensim==4.3.2
JPype1==1.5.0
kiwisolver==1.4.5
konlpy==0.6.0
lxml==5.2.2
matplotlib==3.9.0
networkx==3.3
numpy==1.26.4
packaging==24.0
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scipy==1.12.0
setuptools==70.0.0
six==1.16.0
smart-open==7.0.4
textrankr==1.1
wordcloud==1.9.3
wrapt==1.16.0
